*{margin: 0;padding: 0;text-decoration: none;}

body{margin: 0 auto;width:70%}

.slider{overflow: hidden;height: 100%;-moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:10px;border: 2px solid goldenrod;}

.slider figure div{float: left;width: 20%;}

.slider figure img{width: 100%;float: left;}
    
.slider figure{position: relative;width: 500%;margin: 0px;left: 0;animation: 30s Duder infinite;}

@keyframes Duder{
0%{left: 0%;}
10%{left: 0%;}
22%{left: -100%;}
24%{left: -100%;}
34%{left: -200%;}
36%{left: -200%;}
46%{left: -300%;}
48%{left: -300%;}
58%{left: -400%;}
60%{left: -400%;}
70%{left: -300%;}
72%{left: -300%;}
82%{left: -200%;}
84%{left: -200%;}
94%{left: -100%;}
96%{left: 0%;}
}
h1 {color: white;}
h2{color: white;}
h3{color:wheat;}
*{background-color:navy;}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;border: 2px solid;padding: 10px;align-self: center;
  }
  
  a:visited {
    color: green;-moz-border-radius:10px;
-webkit-border-radius:10px;padding: 10px;
border-radius:10px;border: 2px solid;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:lightskyblue;padding: 10px;
    background-color: transparent;
    text-decoration: underline;-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;border: 5px solid;
  }
  
  a:active {
    color: green; padding: 10px;
    background-color: rgb(151, 226, 97);
    text-decoration: underline;-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;border: 2px solid green;
  }